.mainContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: white;
  min-height: 100vh;
  padding: 4rem 2rem;
  background-color: #1B1C1D;
  /* // Darken Gradient on mobile */
  @media (max-width: 1200px) {
    background: rgba(0, 0, 0, 0.9);
  }
}
